.blog-post {
    border: 1px solid #27272A; /* Changed border color to red */
    border-radius: 10px; /* Increased border-radius for more rounded corners */
    padding: 16px;
    margin: 16px 0;
    background-color: #050505; /* Changed background color to green */
}

.post-title {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: bold; /* Make title bold */
}

.post-meta {
    font-size: 14px;
    color: #777;
    margin-bottom: 12px;
}

.post-content {
    font-size: 16px;
}

.post-content a {
    color: #EF4444; /* Link color */
    text-decoration: none; /* Remove underline */
}

.post-content a:hover {
    text-decoration: underline; /* Underline on hover */
}

.bold {
    font-weight: bold; /* Class to make text bold */
}
