<footer class="footer">
    <div class="footer-content">
        <p class="footer-text">&copy; 2024 voxlis.NET. All rights reserved.</p>
        <p>
            <a class="footer-link" href="https://github.com/localscripts/localscripts.github.io" target="_blank">Contribute</a> • 
            <a class="footer-link" href="https://discord.gg/exampleinvite" target="_blank">Discord</a> • 
            <a class="footer-link" href="https://weao.xyz" target="_blank">WEAO.xyz</a>
        </p>
    </div>
</footer>
