<nav class="navbar">
    <div class="container">
        <a href="/" class="brand">www.<span class="highlight">voxlis</span>.NET</a>
        <div class="menu">
            <a href="/" class="nav-link">Home</a>
            <a href="https://discord.gg/exampleinvite" class="nav-link">Discord</a>
            <a href="https://github.com/localscripts/localscripts.github.io" class="nav-link">Contribute</a>
        </div>
        <button class="menu-toggle" aria-label="Toggle menu">
            <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>
    <div class="mobile-menu-items">
        <a href="/" class="nav-link">Home</a>
        <a href="/discord" class="nav-link">Discord</a>
        <a href="/contribute" class="nav-link">Contribute</a>
    </div>
</nav>
